.number {
    display: inline-block;
}

.label {
    display: block;
    font-size: 21px;
}

.ddiv {
    margin-top: 40px;
}

.ddiv * {
    display: inline-block;
}

.ddiv div {
    display: block;
    margin-top: 10px;
}
